# Backend API Test Results

| Filename | URL | Status | Status Code | Error Message |
|----------|-----|--------|-------------|---------------|
| payload_18.txt | http://localhost:8002/bangkok | SUCCESS | 200 | - |
| test_15.txt | http://localhost:8002/%E1%7f5d&%89f&%49%bd%BDR%FA%B1%37%Cc%b6%Fb%Ed | SUCCESS | 200 | - |
| payload_6.txt | http://localhost:8002/hongkong | SUCCESS | 200 | - |
| payload_7.txt | http://localhost:8002/0660=%94%F2 | SUCCESS | 200 | - |
| test_19.txt | http://localhost:8002/5 | SUCCESS | 200 | - |
| test_11.txt | http://localhost:8002/beijing | SUCCESS | 200 | - |
| test_8.txt | http://localhost:8002/51=579 | SUCCESS | 200 | - |
| payload_11.txt | http://localhost:8002/%78%dA%Ac%a3.&r%4C%dC=2&852=9 | WARNING | 404 | - |
| test_10.txt | http://localhost:8002/60536=41&30&bw&9173243=26&836471=5 | WARNING | 404 | - |
| test_3.txt | http://localhost:8002/istanbul | SUCCESS | 200 | - |
| payload_10.txt | http://localhost:8002/T8%fb%12%75%FF%F6%cb=9649&se%1c%7B%1E%ec | WARNING | 404 | - |
| payload_4.txt | http://localhost:8002/newyork | SUCCESS | 200 | - |
| payload_14.txt | http://localhost:8002/C | SUCCESS | 200 | - |
| test_18.txt | http://localhost:8002/cairo | SUCCESS | 200 | - |
| test_12.txt | http://localhost:8002/moscow | SUCCESS | 200 | - |
| test_4.txt | http://localhost:8002/delhi | SUCCESS | 200 | - |
| test_9.txt | http://localhost:8002/dubai | SUCCESS | 200 | - |
| payload_9.txt | http://localhost:8002/f=9 | SUCCESS | 200 | - |
| test_14.txt | http://localhost:8002/riyadh | SUCCESS | 200 | - |
| test_16.txt | http://localhost:8002/%D5vg%5d%06=%67%90%FC&e=%6b%dE | WARNING | 404 | - |
| payload_12.txt | http://localhost:8002/kVw5%fc&16469 | WARNING | 404 | - |
| test_13.txt | http://localhost:8002/6&56%F4%eC%ae | SUCCESS | 200 | - |
| payload_13.txt | http://localhost:8002/hongkong | SUCCESS | 200 | - |
| test_1.txt | http://localhost:8002/6 | SUCCESS | 200 | - |
| payload_0.txt | http://localhost:8002/seoul | SUCCESS | 200 | - |
| payload_16.txt | http://localhost:8002/seoul | SUCCESS | 200 | - |
| payload_2.txt | http://localhost:8002/london | SUCCESS | 200 | - |
| payload_5.txt | http://localhost:8002/38&%1e%84%7e%1A%6B%ae%3e%E0%3D%1F%84=26 | SUCCESS | 200 | - |
| test_0.txt | http://localhost:8002/v%Da%51%B5qb%cbz%5D%3a0=%15 | SUCCESS | 200 | - |
| test_17.txt | http://localhost:8002/w=%8B%83%AE&L+=A%4e%45%aE%bE&11 | SUCCESS | 200 | - |
| payload_8.txt | http://localhost:8002/singapore | SUCCESS | 200 | - |
| payload_15.txt | http://localhost:8002/0=61&YM=32 | SUCCESS | 200 | - |
| payload_3.txt | http://localhost:8002/%0b%Eb%22 | WARNING | 404 | - |
| payload_1.txt | http://localhost:8002/paris | SUCCESS | 200 | - |
| payload_19.txt | http://localhost:8002/moscow | SUCCESS | 200 | - |
| payload_17.txt | http://localhost:8002/tH%20%Af%aB%Af%E3D=%b0 | SUCCESS | 200 | - |
| test_5.txt | http://localhost:8002/tokyo | SUCCESS | 200 | - |
| test_6.txt | http://localhost:8002/%DC%D7%Ce%22%EA%45 | SUCCESS | 200 | - |
| test_7.txt | http://localhost:8002/delhi | SUCCESS | 200 | - |
| test_2.txt | http://localhost:8002/H=4080766 | WARNING | 404 | - |
