# Backend API Test Results

| Filename | URL | Status | Status Code | Error Message |
|----------|-----|--------|-------------|---------------|
| payload_18.txt | http://localhost:8002/bangkok | SUCCESS | 200 | - |
| payload_6.txt | http://localhost:8002/hongkong | SUCCESS | 200 | - |
| payload_7.txt | http://localhost:8002/0660=%94%F2 | SUCCESS | 200 | - |
| payload_11.txt | http://localhost:8002/%78%dA%Ac%a3.&r%4C%dC=2&852=9 | WARNING | 404 | - |
| payload_10.txt | http://localhost:8002/T8%fb%12%75%FF%F6%cb=9649&se%1c%7B%1E%ec | WARNING | 404 | - |
| payload_4.txt | http://localhost:8002/newyork | SUCCESS | 200 | - |
| payload_14.txt | http://localhost:8002/C | SUCCESS | 200 | - |
| payload_9.txt | http://localhost:8002/f=9 | SUCCESS | 200 | - |
| payload_12.txt | http://localhost:8002/kVw5%fc&16469 | WARNING | 404 | - |
| payload_13.txt | http://localhost:8002/hongkong | SUCCESS | 200 | - |
| payload_0.txt | http://localhost:8002/seoul | SUCCESS | 200 | - |
| payload_16.txt | http://localhost:8002/seoul | SUCCESS | 200 | - |
| payload_2.txt | http://localhost:8002/london | SUCCESS | 200 | - |
| payload_5.txt | http://localhost:8002/38&%1e%84%7e%1A%6B%ae%3e%E0%3D%1F%84=26 | SUCCESS | 200 | - |
| payload_8.txt | http://localhost:8002/singapore | SUCCESS | 200 | - |
| payload_15.txt | http://localhost:8002/0=61&YM=32 | SUCCESS | 200 | - |
| payload_3.txt | http://localhost:8002/%0b%Eb%22 | WARNING | 404 | - |
| payload_1.txt | http://localhost:8002/paris | SUCCESS | 200 | - |
| payload_19.txt | http://localhost:8002/moscow | SUCCESS | 200 | - |
| payload_17.txt | http://localhost:8002/tH%20%Af%aB%Af%E3D=%b0 | SUCCESS | 200 | - |
